<!DOCTYPE html>
<html>
  <head>
    <title>TazhuPractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="logo">
        <%= image_tag('Tazhuu (1).png') %>
      </div>
      <form class="header_search_form" action="">
        <input type="text">
        <input type="submit" value="Search">
      </form>
      <nav class="navbox">
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="">Courses</a>
        <a class="nav-link" href="/contact">Contact</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/sign_up">SignUp</a>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
